<script setup lang="ts">
import { computed, reactive, ref, watch } from 'vue';


const title = ref('BMI Calculator')
const weight = ref(0)
const height = ref(0)
const bmi = ref(0)



const bmiStyle = reactive({
    center: true,
    size: false
})

const myStyle = reactive(
    {
        fontSize: '20pt',
        border: '2pt',
        borderStyle: 'solid'
    }
)
function bmiCal() {
    const m = height.value/100
    bmi.value = weight.value/Math.pow(m,2)
}

const bmiSelected1 = ref(false);
const bmiSelected2 = ref(false);
const bmiSelected3 = ref(false);
const bmiSelected4 = ref(false);
const bmiSelected5 = ref(false);

watch(bmi, () => {

  bmiSelected1.value = false;
  bmiSelected2.value = false;
  bmiSelected3.value = false;
  bmiSelected4.value = false;
  bmiSelected5.value = false;

  if (bmi.value < 18.50) {
    bmiSelected1.value = true;
  } else if (bmi.value < 23) {
    bmiSelected2.value = true;
  } else if (bmi.value < 25) {
    bmiSelected3.value = true;
  } else if (bmi.value < 30) {
    bmiSelected4.value = true;
  } else if (bmi.value >= 30) {
    bmiSelected5.value = true;
  }
});


</script>

<template>
    <div style="margin: auto; width: 600px;">
    <h1 :class="bmiStyle">{{ title }}</h1>
    <div class=center style="font-size: 15pt;">
        <label for="weight" style="font-size: 20pt ;" >น้ำหนักตัว(kg.)</label><br>
        <input type="text" id="weight" v-model.number="weight" style="font-size: 15pt;" placeholder=" "><br>
        <label for="height" style="font-size: 20pt ;">ส่วนสูง(cm.)</label><br>
        <input type="text" id="height" v-model.number="height" style="font-size: 15pt;" placeholder=" ">
        <br><br>
        <button @click="bmiCal()">คำนวณ</button>
    </div>
    <br>
    <div :class="bmiStyle">
        <h1 style="color:rgb(4, 0, 212)">Your BMI </h1>
        <h2><div>{{ bmi.toFixed(2) }}</div></h2>
    </div>

    <table style="border:2px double; border-collapse: collapse;width: 100%;">
        <thead>
            <tr>
                <th>BMI kg/m²</th>
                <th>อยู่ในเกณท์</th>
                <th>ภาวะเสี่ยงต่อโรค</th>
            </tr>
        </thead>
        <tbody>
            <tr :class="{ highlight: bmiSelected1 }">
                <td>น้อยกว่า 18.50</td>
                <td>น้ำหนักน้อย / ผอม</td>
                <td>มากกว่าคนปกติ</td>
            </tr>
            <tr :class="{ highlight: bmiSelected2 }">
                <td>18.50 - 22.90</td>
                <td>ปกติ (สุขภาพดี)</td>
                <td>เท่าคนปกติ</td>
            </tr>
            <tr :class="{ highlight: bmiSelected3 }">
                <td>23 - 24.90</td>
                <td>ท้วม / โรคอ้วนระดับ 1</td>
                <td>อันตรายระดับ 1</td>
            </tr>
            <tr :class="{ highlight: bmiSelected4 }">
                <td>25 - 29.90</td>
                <td>อ้วน / โรคอ้วนระดับ 2</td>
                <td>อันตรายระดับ 2</td>
            </tr>
            <tr :class="{ highlight: bmiSelected5 }">
                <td>มากกว่า 30</td>
                <td>อ้วนมาก / โรคอ้วนระดับ 3</td>
                <td>อันตรายระดับ 3</td>
            </tr>
        </tbody>
    </table></div>
</template>

<style>
.center {
    text-align: center;
}

.size {
    font-size: 10pt;
}

th,
td {
    border: 2px double;
    text-align: center;
    height: 25px;
}

th{
    height: 30px;
}
.highlight {
    background-color: rgb(169, 255, 226);
}

input[type=text] {
width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button{
    font-size: 30pt;
    width: 100%;
    text-shadow: 2px 2px 5px rgb(185, 185, 185);
}
h1{
    text-decoration-line: underline;
    text-shadow: 2px 2px 5px rgb(185, 185, 185);
}
h2{
    text-shadow: 2px 2px 5px rgb(185, 185, 185);
}

</style>