<script setup lang="ts">
import { ref } from 'vue';


const text = ref('')


</script>

<template>

    <div><input v-model="text" placeholder="Type here2"></div>
    <div>text : {{ text }}</div>
</template>

<style scoped>
</style>
